body { padding-top: 70px; }

.word-break{
    word-break: break-all;
}

.div-hover:hover{
    background-color: #f6f6f6;
}

.div-as-tablerow{
    border: 1px solid #f6f6f6;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.strip {
    background-color: #f6f6f6;
}

.inline{
    display: inline-block;
}

.margin-top {
    margin-top: 10px;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.modal-dialog{
    width: 1000px;
}

.modal-content {
    width: 1000px;
    margin-left: -200px;
}

.btn-modal {
    margin-top: 0px;
    background: #404040;
}
