{% extends 'index.html' %}

{% block content %}

<div class="clearfix">
    <ul class="nav navbar-nav">
    {% if '/container/' in path %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Container IO read <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for c in containers %}
                <li>
                    <a href="{% url 'container_io_read' c.uid %}"><b>{{ c.name }}</b> ({{ c.uid }})</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Container IO write <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for c in containers %}
                <li>
                    <a href="{% url 'container_io_write' c.uid %}"><b>{{ c.name }}</b> ({{ c.uid }})</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Container NET rx <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for c in containers %}
                <li>
                    <a href="{% url 'container_net_rx' c.uid %}"><b>{{ c.name }}</b> ({{ c.uid }})</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Container NET tx <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for c in containers %}
                <li>
                    <a href="{% url 'container_net_tx' c.uid %}"><b>{{ c.name }}</b> ({{ c.uid }})</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Container cpu <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for c in containers %}
                <li>
                    <a href="{% url 'container_cpu' c.uid %}"><b>{{ c.name }}</b> ({{ c.uid }})</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Container mem <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for c in containers %}
                <li>
                    <a href="{% url 'container_mem' c.uid %}"><b>{{ c.name }}</b> ({{ c.uid }})</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Container quota <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for c in containers %}
                <li>
                    <a href="{% url 'container_quota' c.uid %}"><b>{{ c.name }}</b> ({{ c.uid }})</a>
                </li>
                {% endfor %}
            </ul>
        </li>
    {% elif '/domain/' in path %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Domain Network RX <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for d in domains %}
                <li>
                    <a href="{% url 'domain_net_rx' d.id %}"><b>{{ d.name }}</b></a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Domain Network TX <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for d in domains %}
                <li>
                    <a href="{% url 'domain_net_rx' d.id %}"><b>{{ d.name }}</b></a>
                </li>
                {% endfor %}
            </ul>
        </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Domain Hits <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for d in domains %}
                <li>
                    <a href="{% url 'domain_net_rx' d.id %}"><b>{{ d.name }}</b></a>
                </li>
                {% endfor %}
            </ul>
        </li>
    {% endif %}
    </ul>
</div>

{% block metrics %}
{% endblock %}

{% endblock %}
