{% extends 'sortable_table.html' %}

{% block content %}
    <h3><b>{{ tag }}</b> Tag</h3>
    {% if tagged_containers %}
        <h4>Containers</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered tablesorter">
                <thead>
                    <tr>
                        <th>UID</th>
                        <th>Name</th>
                        <th>Hostname</th>
                        <th>Server</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in tagged_containers %}
                    <tr>
                        <td><a href="{% url 'containers' id=c.uid %}">{{ c.uid }}</a></td>
                        <td>{{ c.name }}</td>
                        <td>{{ c.hostname }}</td>
                        <td>{{ c.server }}</td>
                        <td>
                            {% for t in c.tags %}
                                <a href="{% url 'tag' t %}">{{ t }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No Containers tagged<br/>
    {% endif %}

    {% if tagged_domains %}
        <h4>Domains</h4>
        <div class="table-responsive">
            <table class="table table-hover table-bordered tablesorter">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>UUID</th>
                        <th>Tags</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in tagged_domains %}
                    <tr>
                        <td><a href="{% url 'domain' id=d.id %}">{{ d.id }}</a></td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.uuid }}</td>
                        <td>
                            {% for t in d.tags %}
                                <a href="{% url 'tag' t %}">{{ t }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No Domains tagged<br/>
    {% endif %}
{% endblock %}
